<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Camalot.Common" version="1.0.5718.34616" targetFramework="net452" />
  <package id="Managed.Adb.x64" version="1.0.25.819" targetFramework="net452" />
  <package id="morelinq" version="1.4.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
</packages>