<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="droidexplorer">
			<section name="cloud" requirePermission="false" type=" DroidExplorer.Core.Configuration.Handlers.CloudConfigurationSectionHandler, DroidExplorer.Core" />
		</sectionGroup>
	</configSections>
	<!--<connectionStrings configSource="connectionStrings.config" />-->
	<system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SqlServerCe.3.5"></remove>
			<add name="Microsoft SQL Server Compact Data Provider" invariant="System.Data.SqlServerCe.3.5" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=3.5.1.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
		</DbProviderFactories>
	</system.data>
	<droidexplorer>
		<cloud hostName="de.bit13.local" path="/api/" port="80" scheme="http" key="d0879a20-bc38-4dda-831e-e4d80a93db46" app="d0879a20-bc38-4dda-831e-e4d80a93db45" />
	</droidexplorer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Data.SqlServerCe" publicKeyToken="89845dcd8080cc91" culture="neutral" />
				<bindingRedirect oldVersion="3.5.1.0-3.5.1.50" newVersion="3.5.1.50" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MoreLinq" publicKeyToken="384d532d7e88985d" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.4.18916.0" newVersion="1.4.18916.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Camalot.Common" publicKeyToken="02434577b8ec3216" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.5718.34616" newVersion="1.0.5718.34616" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
</configuration>
