<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Camalot.Common" version="1.0.5520.19655" targetFramework="net451" />
  <package id="morelinq" version="1.1.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net451" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net451" />
  <package id="WindowsAPICodePack-ShellExtensions" version="1.1.1" targetFramework="net451" />
</packages>