<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Camalot.Common" version="1.0.5937.17275" targetFramework="net452" />
  <package id="Managed.Adb.x64" version="2.1.100.9917-alpha" targetFramework="net452" />
  <package id="morelinq" version="1.4.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net451" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net451" />
  <package id="WindowsAPICodePack-ShellExtensions" version="1.1.1" targetFramework="net451" />
</packages>